
@{
    ViewBag.Title = "gtcongty";
    Layout = "~/Views/Shared/_layoutgiohang.cshtml";
}
<link rel="stylesheet" href="~/Assets/admin/css/gioithieu.css"/>
<div class="content" style="font-size: 14px">
    <div class="grid wide">
        <div class="content-gt">
            <h1 style="text-align:center;margin-top:20px; color: var(--main-color);font-size: 2.5rem; text-transform: uppercase;">Giới thiệu chung</h1>
            <p>
                Công ty Cổ phần Bán lẻ Kỹ thuật số ANTMobile được thành lập từ năm 2012 tại Việt Nam,
                là một thành viên của Tập đoàn ANT, sở hữu 2 chuỗi bán lẻ là ANT Shop và F.Studio By ANT
                với tổng số cửa hàng là 500 trên khắp 63 tỉnh thành (tính đến tháng 4/2018).
            </p>
            <ul>
                <li>
                    Hệ thống bán lẻ ANT Shop là chuỗi chuyên bán lẻ các sản phẩm kỹ thuật số di động bao gồm điện thoại di động
                    ANT Shop là hệ thống bán lẻ đầu tiên ở Việt Nam đuợc cấp chứng chỉ ISO 9001:2000 về quản lý chất luợng theo tiêu chuẩn quốc tế.
                    Hiện nay, ANT Shop là chuỗi bán lẻ lớn thứ 2 trên thị trường bán lẻ hàng công nghệ.
                </li>

            </ul>
            <ul>
                <li>
                    Chuỗi cửa hàng F.Studio By ANT: Là chuỗi cửa hàng được ủy quyền chính thức của Apple tại Việt Nam ở cấp độ cao cấp nhất,
                    chuyên kinh doanh các sản phẩm chính hãng của Apple. ANTMobile là công ty đầu tiên có chuỗi bán lẻ với đầy đủ mô hình cửa hàng
                    của Apple bao gồm: Cấp 1 là APR (Apple Premium Reseller), cấp 2 AAR (Apple Authorised Reseller) và iCorner, mang đến cho khách hàng
                    không gian tuyệt vời để trải nghiệm những sản phẩm công nghệ độc đáo, tinh tế của Apple cùng dịch vụ bán hàng
                    và chất lượng chăm sóc khách hàng cao cấp và thân thiện nhất.
                </li>

            </ul>
            <p>
                Trong suốt nhiều năm qua, bằng những nỗ lực không mệt mỏi, trung thành với chính sách “tận tâm phục vụ khách hàng”,
                ANTMobile quyết tâm hoạt động, xây dựng phong cách phục vụ khách hàng cho tất cả các mảng kinh doanh dù mới hay cũ,
                lấy đó làm nền tảng tăng trưởng bền vững, hoàn thiện hình ảnh một thương hiệu gần gũi, thân thiện và hướng tới mục tiêu
                phục vụ khách hàng là ưu tiên hàng đầu .
            </p>
            <p>
                Luôn đặt khách hàng làm trung tâm trong mọi suy nghĩ và hành động, ANT Shop đã xây dựng được một đội ngũ nhân viên
                với phong cách làm việc chuyên nghiệp, nhiệt tình và tận tâm với khách hàng. Bên cạnh đó, chúng tôi đã, đang và sẽ tiếp tục
                xây dựng trung tâm kinh doanh trực tuyến hiện đại nhất để khách hàng có thể tìm thấy ANT Shop dễ dàng và nhanh nhất.
            </p>
            <p>
                Sự đầu tư nghiêm túc và nỗ lực không ngừng của ANTMobile đã được cộng đồng ghi nhận qua số lượt khách hàng đến tham quan
                mua sắm tăng mạnh và ổn định trong suốt nhiều năm qua. Sau 6 năm hoạt động, ANTMobile đã tạo dựng được niềm tin nơi Quý khách
                hàng khi là nhà bán lẻ đứng thứ 2 về thị phần điện thoại
                và là nhà bán lẻ Apple chính hãng hàng đầu tại Việt Nam với đầy đủ các chuẩn cửa hàng từ cấp độ cao nhất APR và là top 4 nhà bán lẻ hàng đầu Việt Nam.
            </p>
            <p>
                Kết thúc năm 2020, ANT Shop đạt doanh thu 13.147 tỉ đồng, lợi nhuận trước thuế đạt 363 tỉ đồng. Trong đó, doanh thu bán hàng trực tuyến đạt 2,034 tỉ đồng,
                tăng trưởng 68% so với năm 2016 và chiếm 15.47% tổng doanh thu của công ty.
            </p>
            <p>
                ANTMobile cũng vinh dự được nhận nhiều giải thưởng: Top 100 giải thưởng “Sản phẩm, dịch vụ uy tín chất lượng” do người tiêu dùng bình chọn
                (Hội Tiêu chuẩn và bảo vệ người tiêu dùng Việt Nam tổ chức), được vinh danh Thương hiệu mạnh Việt Nam liên tiếp trong 3 năm 2013, 2014, 2015  và năm 2017
                (Thời báo Kinh tế Việt Nam tổ chức), Nhà bán lẻ được yêu thích nhất 2016 do Thời báo Kinh tế VN bình chọn. Tính đến tháng 7/2017, ANTMobile
                lọt vào Top 4 nhà bán lẻ hàng đầu ở Việt Nam, Top 500 nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương (Retail Asia). Tháng 11/2017, ANTMobile
                đã lọt Top 10 nhà bán lẻ uy tín do Công ty cổ phần Báo cáo đánh giá VN (Vietnam Report) và báo điện tử Vietnamnet tiến hành khảo sát.
                Theo Euromonitor và Retail Asia Publishing, với doanh thu 15.717 USD / m2, ANTMobile là nhà bán lẻ hiệu quả nhất Việt Nam.
            </p>
        </div>
    </div>
</div>