
@{
    ViewBag.Title = "tragop";
    Layout = "~/Views/Shared/_Layoutgiohang.cshtml";
}
<link rel="stylesheet" href="~/Assets/admin/css/tra-gop.css"/>
<div class="content">
    <div class="grid wide">
        <div class="main-tg">
            <h2 style="font-weight:500;text-align:center; color: var(--main-color);text-transform: uppercase;">Thông tin trả góp</h2>
            <p>
                Thủ tục mua hàng trả góp
                Hiện tại ANTMobile hợp tác với 5 công ty tài chính là HOME CREDIT (PPF), FE CREDIT (VPBank), Mirae Asset,
                HD Saison và ACS để cung cấp dịch vụ trả góp. Qúy Khách hàng có thể tham khảo thông tin chi tiết ở bảng dưới đây:
            </p>
            <div>
                <div class="img-tg">
                    <img src="~/image/credit.png" />
                </div>
                <div class="content-tg">
                    <ul>
                        <li>Thời gian duyệt: 10 phút.</li>
                        <li> Tuổi: 20 - 60 tuổi.</li>
                        <li>
                            Khoản vay ≤ 10 triệu: CMND + Bằng lái xe.<br />

                            Khoản vay > 10 triệu: CMND + Hộ khẩu.
                        </li>
                        <li>Kỳ hạn: 6 - 12 tháng.</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="img-tg">
                    <img src="~/image/fe-credit.png" />
                </div>
                <div class="content-tg">
                    <ul>
                        <li>Thời gian duyệt: 15 - 20 phút.</li>
                        <li>Tuổi: 20 - 60 tuổi.</li>
                        <li>
                            Khoản vay < 8 triệu: CMND + Bằng lái xe.<br />

                            Khoản vay ≥ 8 triệu: CMND + Hộ khẩu.
                        </li>
                        <li>Kỳ hạn: 6 - 12 tháng.</li>
                    </ul>
                </div>
            </div>


            <div>
                <div class="img-tg">
                    <img src="~/image/Mirae Asset.png" style="object-fit:cover;width:199px; height:70px" />
                </div>
                <div class="content-tg">
                    <ul>
                        <li>Thời gian duyệt: 10 phút.</li>
                        <li>Tuổi: 18 - 60 tuổi.</li>
                        <li>
                            Khoản vay < 2 - 15 triệu: CMND + Bằng lái xe/ Sổ hộ khẩu.
                        </li>
                        <li>Kỳ hạn: 6 - 12 tháng.</li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="img-tg">
                    <img src="~/image/hd sai gon.png" style="height:80px; width:199px" />
                </div>
                <div class="content-tg">
                    <ul>
                        <li>Thời gian duyệt: 30 - 45 phút.</li>
                        <li>Tuổi: 20 - 60 tuổi.</li>
                        <li>
                            Khoản vay < 10 triệu: CMND + Bằng lái xe.<br />

                            Khoản vay ≥ 10 triệu: CMND + Hộ khẩu + Hóa đơn điện/nước.
                        </li>
                        <li>Kỳ hạn: 9 - 24 tháng. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
